---
import ExerciseList from '../components/ExerciseList.astro';
import UserToken from '../components/UserToken.jsx';
import Layout from '../layouts/Layout.astro';

const exercises = [{
	name: "Sum of three values",
	desc: "Write a function int sum(int first, int second, int third) that returns the sum of the given integers. As an example, the function call sum(1, 2, 3) should return the value 6."
},{
	name: "Sum with formula",
	desc: "Write a function String sumWithFormula(int first, int second) that returns the written out sum of the given integers and the sum. As an example, the function call sumWithFormula(1, 2) should return the string 1+2=3 and the function call sumWithFormula(1, 1) should return the string 1+1=2. Note! Do not add spaces to the returned string."
},{
	name: "Budget check",
	desc: "Write a function String budgetCheck(double budget, double currentSpending) that returns information on whether a given budget is in order in light of given spending. If the value of currentSpending is larger than the value of budget, the function should return \"Budget: Overspending\". Otherwise, the function should return \"Budget: OK\"."
},{
	name: "Mystery function",
	desc: "Write a function String mystery(int number) that returns a string based on the number. If the number is divisible by 5, the function should return the string \"mys\". If the number is divisible by 7, the function should return the string \"tery\". If the number is divisible by both 5 and 7, the function should return the string \"mystery\". Otherwise, the function should return a string representation of the given number, e.g. if the number is 1, the function should return \"1\"."
},{
	name: "Sum of negative numbers",
	desc: "Write a function int sumOfNegatives(List<int> numbers) that returns the sum of the negative numbers in the given list. For example, if the numbers list would contain the numbers -1, 2, -4, the function should return the value -5."
},{
	name: "Average of positives",
	desc: "Write a function double averageOfPositives(List<int> numbers) that returns the average value of the positive numbers on the list. If there are no positive values, the function should return the value -1."
},{
	name: "Team",
	desc: `Create a class Team and implement the two following constructors (and necessary properties) to the class. The default constructor should have three properties: (1) the name of the team (String), (2) the home town of the team (String), and (3) the year the team was formed (int). The named constructor nameAndYear should have two properties: (1) the name of the team (String) and (2) the year the team was formed (int). In the case of the named constructor, the home town of the team must be "Unknown".

Once completed, add a toString method to the class which leads to outputs outlined by the following examples.

final hjk = Team("HJK", "Helsinki", 1907);
print(hjk);
final secret = Team.nameAndYear("Secret", 1984);
print(secret);

With the code above, the output should be as follows.

HJK (Helsinki, 1907)
Secret (Unknown, 1984)`
},{
	name: "Video and playlist",
	desc: `Implement the classes Video and Playlist as follows. The class Video should have a name (String), a duration in seconds (int), a constructor with named arguments, and a toString method. The default name should be "Unknown" and the default length should be 0. The class should work as follows.

print(Video(name: "One second clip", duration: 1));
print(Video(name: "Hello again!", duration: 84));

With the code above, the output should be as follows.

One second clip (1 second)
Hello again! (84 seconds)

The class Playlist should contain a list of videos, provide a default (no argument) constructor, and offer the following methods: (1) void add(Video video) that adds a video to the playlist, (2) bool has(String name) that returns true if the list of videos contains a video with the given name, and (3) int duration() that returns the sum of durations of the videos in the playlist. The class should work as follows.

final playlist = Playlist();
print(playlist.has("One second clip"));
print(playlist.duration());
playlist.add(Video(name: "One second clip", duration: 1));
playlist.add(Video(name: "Hello again!", duration: 84));
print(playlist.has("One second clip"));
print(playlist.duration());

With the code above, the output should be as follows.

false
0
true
85`
}]
---

<Layout title="Home">
	<main>
		<h1>Home</h1>
		<UserToken client:load />
		<ExerciseList exercises={exercises} />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
